.addEmployeeForm {
  padding: 20px;
}

.jumbotron {
  background-color: black;
}

body {
  background-color:grey;
  color:black;
}

.white-text {
  color:white;
}

.card-header {
  background-color: rgb(66, 134, 244);
  opacity: .9;
}
